<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title><?=$title?></title>
</head>
<body>
<span style="font-size:14px;">您好：<?=$nickName?><br />感谢您注册途聚，请妥善保存您的帐号信息。 <br /><br />为确保帐户安全，需要对您的信息有效性进行验证，以激活您的账户和账户使用功能。</span>
<span style="font-size:14px;"><br />您只需点击下面的链接即可：<br /></span><span style="font-size:14px;"><?=$link?><br /></span>
<p><span style="font-size:14px;">(如果上面不是链接形式或者点击无效，请将地址手工粘贴到浏览器地址栏再访问)<br /></span></p>
<p><span style="font-size:14px;">本邮件由途聚系统自动发出，请勿回复。</span></p>
<!--
<p><span style="font-size:14px;"><br /></span></p>
<p><span style="font-size:14px;">如有疑问，请通过以下方式联系我们：</span></p>
<p><span style="font-size:14px;">免费客服热线：客户热线</span></p><span style="font-size:14px;">客服邮箱：客户邮箱</span>
-->
</body>
</html>