<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>途聚-邮箱验证</title>
    <link rel="stylesheet" type="text/css" href="../../static/normal/css/email.css"/>
</head>
<body>
<div class="send_email">
    <div class="banner">
        <div class="img">
            <img src="../../static/normal/images/logo50x50.png"/>
        </div>
    </div>
    <div class="text">
        邮箱验证  <span><?=$msg?></span>
    </div>
    <div class="success">
        <?=$content?>
    </div>
    <div class="footer">
        (c) Copyright 2014 midui. All Rights Reserved.
    </div>
</div>
</body>
</html>
