
<!DOCTYPE html>
<html id="home" class="home-page">
  <head>
    <title>途聚 官网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="mobile-agent" content="format=html5;url=http://www.tugether.cn/">
    <meta name="renderer" content="webkit">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="途聚">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
	<!--
    <link rel="shortcut icon" type="image/x-icon" href="../../static/normal/images/favicon.ico">
    -->
    <script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/normal/js/fastclick.js"></script>
    <script src="/static/normal/js/WeixinApi.js"></script>
    <script src="/static/normal/js/index.js"></script>
    <link rel="stylesheet" href="../../static/normal/css/style.css">
  </head>
  <body>
    <div class="section-theme">
      <div class="theme-wrapper top-wrapper">
        <div class="theme-text-box">
          <div class="theme-logo"></div>
          <div class="theme-sologan">让自助游更有趣</div>
          <div class="theme-sologan-descrption"><span>旅途中认识附近的游客，与他们分享途中的乐趣<br/>出发前、途中与附近的人结伴而行</span></div>
          <div class="theme-download">
            <div class="theme-download-icon-wrapper">
              <div class="theme-download-icon"></div>
            </div>
            <div class="theme-download-text-wrapper">
              <div class="theme-download-text">立刻下载</div>
              <div class="theme-download-text-en">我们在途中相聚</div>
            </div>
          </div>
        </div>
        <div class="theme-pic"></div>
      </div>
      
      <div class="mobile-theme-wrapper">
        <div class="mobile-theme-icon"></div>
        <!--
        <div class="mobile-theme-hr"></div>
        -->
        <div class="mobile-theme-sologan">让自助游更有趣</div>
        <div class="mobile-theme-description">
          <p>旅途中认识附近的游客，与他们分享途中的乐趣；</p>
          <p>出发前、途中与附近的人结伴而行</p>
        </div>
        <!--
        <div class="mobile-theme-sologan-description"> <span>xxxx</span></div>
        -->
      </div>
    </div>
    <div class="mobile-download-links">
      <a href="<?=_MOBILE_URL?>download_android.html?src=tuju">
        <div class="android-link">Android 下载</div>
      </a>
      <a href="#">
        <div class="iphone-link">iPhone 开发中</div>
      </a>
    </div>
    
    <div class="section-theme-odd">
    	<div class="theme-wrapper bottom-wrapper">
          <div class="theme-pic-show pic-show-1"></div>
          <div class="theme-pic-intro-title intro1-title"></div>
          <div class="theme-intro-text">
          	<p>出发前找到有相同意向，志趣相投的新朋友一起讨论行程、一起去旅行</p>
            <p>途中找人一起拼车，一起去某个地方，人多更热闹</p>
            <p>向附近的人打听消息，知道下一个景点怎么玩</p>
          </div>
          <div class="theme-pic-intro pic-intro-1"></div>
      </div>
    </div>

    <div class="section-theme-even">
      <div class="theme-wrapper">
        <div class="theme-pic-show pic-show-2"></div>
        <div class="theme-text-box">
          <div class="theme-pic-intro-title intro2-title"></div>
          <div class="theme-intro-text">
              <p>向附近的人分享你在途中的发现，认识到更多此时也在这里游玩的人</p>
              <p>实时获取到附近最有价值的信息，也为下次来这里的人提供保贵的贴士</p>
              <p>知道附近有什么好玩好吃的地方</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-theme-odd">
      <div class="theme-wrapper bottom-wrapper">
          <div class="theme-pic-show pic-show-3"></div>
          <div class="theme-pic-intro-title intro3-title"></div>
          <div class="theme-intro-text">
            <p>时常更新状态，让朋友、附近的人知道你最近想去哪玩</p>
            <p>说不定他们也有兴趣加入到你的行程中，让旅途更有趣</p>
            <p>也可以通过途聚知道自己生活的地方附近有什么好玩的地儿</p>
          </div>
          <div class="theme-pic-intro pic-intro-3"></div>
      </div>
    </div>
    
    <!-- 下载对话框 -->
    <div style="display: none" class="modal-panel">
      <div class="column-left">
        <div class="label">直接下载</div>
		  <a href="<?=_MOBILE_URL?>download_android.html?src=tuju"><div class="android-link">Android&nbsp;下载</div></a>
		  <a href="#"><div class="iphone-link">&nbsp;iPhone&nbsp;&nbsp;开发中</div></a>
      </div>
      <div class="column-right">
        <div class="label">扫描二维码下载</div>
        <div class="qr-code"></div>
      </div>
      <div class="tip">也可在各大应用市场直接搜索 “途聚”</div>
    </div>
    
    <div id="footer" class="footer">
      <ul>
        <li class="copyright">Copyright © 2015 miidui.com Inc. All Rights Reserved.</li>
        <li class="icp">粤ICP备14089329号-2</li>
        <li><a href="<?=_MOBILE_URL?>license.html" class="rule" target="_blank">使用条款</a></li>
        <li><a href="mailto:king@miidui.com" class="contact-us">联系我们</a></li>
        <li class="about-us"><a href="http://www.miidui.com" class="contact-us" target="_blank">关于我们</a></li>
      </ul>
    </div>
  </body>
</html>